header{
background-color:#2e2c2c;
color: white;
padding: 10px;
text-align: center;
}

footer{
    background-color: #2e2c2c;
    color: white;
    padding: 10px;
    font-size: small;
    text-align: center;
}

